<form [formGroup]="registerForm" (ngSubmit)="(OnFormSubmit)">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="userName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control" />
  </div>
  <div class="form-group">
    <label for="username">Password</label>
    <input type="text" formControlName="password" class="form-control" />
  </div>
  <div class="form-group">
    <label for="username">ConfirmedPassword</label>
    <input
      type="text"
      formControlName="confirmedPassword"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Register</button>
  </div>
</form>
