<!-- <pre>{{ bmiTable$ | async | json }}</pre> -->
<pre>{{ todo$ | async | json }}</pre>

<div class="app-container">
  <dx-data-grid
    [dataSource]="bmiTable$ | async"
    [columns]="['weight', 'date', 'bmi']"
    showBorders="true"
    width="600"
  >
    <dxi-column
      dataField="weight"
      [fixed]="true"
      alignment="left"
      [format]="{ style: 'decimal', minimumFractionDigits: 2 }"
    >
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="date">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="bmi">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column type="buttons"> </dxi-column>
  </dx-data-grid>
</div>
