<!-- {{ foodsResponse$ | async | json }} -->

<div>
  <dx-data-grid
    [dataSource]="foodsArray"
    keyExpr="id"
    [columns]="[
      'name',
      'caloriesPer100g',
      'weight',
      'nutriScore',
      'photo',
      'tags'
    ]"
    [showBorders]="true"
    (onRowInserted)="onRowInserted($event)"
    (onRowRemoved)="onRowRemoved($event)"
    ><dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing
      mode="row"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
    >
    </dxo-editing>
    <dxi-column dataField="name" caption="Name"></dxi-column>
    <dxi-column
      dataField="caloriesPer100g"
      caption="Calories per 100g"
    ></dxi-column>
    <dxi-column dataField="weight" caption="weight"></dxi-column>
    <dxi-column dataField="nutriScore" caption="nutriScore"></dxi-column>
    <dxi-column dataField="photo" caption="photo"></dxi-column>
    <dxi-column dataField="tags" caption="tags"></dxi-column>
  </dx-data-grid>

  <div id="events">
    <div>
      <div class="caption">Fired events</div>
      <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
    </div>
    <ul>
      <li *ngFor="let event of events">{{ event }}</li>
    </ul>
  </div>
</div>
