<mat-toolbar color="primary">
  <h3>YourFoodDiary</h3>
  <span class="spacer"></span>
  <div class="loginUser">
    <mat-flat-button
      class="login"
      routerLink="/signin"
      routerLinkActive="active"
    >
      Login
    </mat-flat-button>
    <mat-flat-button
      class="register"
      routerLink="/signup"
      routerLinkActive="active"
    >
      Register
    </mat-flat-button>
  </div>

  <mat-flat-button
    class="register"
    routerLink="/register"
    routerLinkActive="active"
  >
    Logout
  </mat-flat-button>
</mat-toolbar>
<header>
  <nav>
    <a [routerLink]="['/']">Home</a>
    |
    <a [routerLink]="['/diary']">Diary</a>
    |
    <a [routerLink]="['/food']">Food</a>
  </nav>
</header>
